* {
	font-family: 'PT Sans Narrow', sans-serif;
	/* transition: all 0.2s ease-out;   */
}

.logo {
	font-size: 180px;
	line-height: 120px;
	user-select: none;
	/* supported by Chrome and Opera */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
}

.self-img{
    width:70%;
}

.master-bg {
	background-size: 100% auto;
	background-position: center center;
	background-color: #dc3545;
	background-image: url('https://static01.nyt.com/images/2016/12/14/well/move/14physed-running-photo/14physed-running-photo-facebookJumbo.jpg');
	background-blend-mode: darken;
	background-attachment: fixed;
	background-repeat: repeat-x;
}


@media only screen and (max-width: 1024px){
    .master-bg {
        background-size: auto 100%;
        background-position: center center;
        background-color: #dc3545;
        background-image: url('https://static01.nyt.com/images/2016/12/14/well/move/14physed-running-photo/14physed-running-photo-facebookJumbo.jpg');
        background-blend-mode: darken;
        background-attachment: fixed;
        background-repeat: repeat-x;
    }

    .logo {
        font-size: 120px;
        line-height: 77px;
        user-select: none;
        /* supported by Chrome and Opera */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
    }
}

@media only screen and (max-width: 500px){

    .self-img{
        width:70%;
        display: none;
    }
    
    .master-bg {
        background-size: auto 100%;
        background-position: center center;
        background-color: #dc3545;
        background-image: url('https://static01.nyt.com/images/2016/12/14/well/move/14physed-running-photo/14physed-running-photo-facebookJumbo.jpg');
        background-blend-mode: darken;
        background-attachment: fixed;
        background-repeat: repeat-x;
    }

    .logo {
        font-size: 120px;
        line-height: 77px;
        user-select: none;
        /* supported by Chrome and Opera */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
    }
}